
.k_tbdr{
   
    height: 5000px;
}


.k_menu > li > a:hover{

   background-color:#ededed
    ;
   cursor: pointer;
   border-radius: 10px;
}
   .k_submenu > li:hover{

   background-color:#ededed
    ;
   cursor: pointer;
  
}

.k_menu > li:hover ul{
    display:block;
}

.k_submenu{
   
    background-color:white;
    display: none;  
    padding-right: 30px;
    padding-left: 10px;
    
}

.k_submenu > li{

    margin-top: 8px;
    
}


header{
    height: 80px;
    position: fixed;
   
    margin: auto;
    width: 1324px;
   
  
}

main{
    height:4046px;
    background-color:green;
    position: relative;
    margin-top: 83px;
  
 
  
}
footer{
    
    background-color: brown;

}

.f1{
    height: 297px;
}

.f2{
    height: 96px;
}

.f3{
    height: 136px;
}

.f4{
    height: 300px;
}

.f5{
    height: 121px;
}


@media(min-width:1400px){
  	.container
    {max-width: 1440px;}
}




   