
.m11{
    height: 100px;
    border: 1px dashed red;
    
}
.m12{
    border: 1px dashed black;
}
.m22{
    height: 245px;
    border: 1px dashed red;
}

.m13{
    height: 120px;
    width: 120px;
    border: 1px dashed red

}
.m14{

    width: 65px;
    height: 65px;

    
}
.m15{
    height: 230px;
    border: 1px dashed red;
}
.m16{
    border:1px dashed red;
    height: 200px;
    
}
.m17{
     border: 3px solid black;
     border-color: #414e5a;
     

}

.m30{
    height: 35px;
    border: 1px dashed red;
}

.m31{
    height: 325px;
    border:1px dashed red;
    
}
.m32{
    border: 1px dashed red;
    width: 402px;
    height: 330px;
}

.m33{
    border: 1px dashed red;
    width: 402px;
        
    }


.k_zoom:hover >img {
    transform-origin: right bottom;
    transform: scale3d(1,1,1);
    transition: all linear 0.3s;
}

.k_zoom:hover > img {
    transform: scale3d(1.02,1.02,1);
}

.k_zoom:hover >span {
    transform-origin: left bottom;
    transform: scale3d(1,1,1);
    transition: all linear 0.3s;
}
.k_zoom:hover > span {
    transform: scale3d(1.08,1.08,1);
}





 .m14:hover{
    cursor: pointer;
    box-shadow: 0 0 5px burlywood;
   
    
    

 }
.k_border{
    border: 2px solid     #414e5a;
    ;
    width: 620px;
    height: 230px;
    color: #414e5a;
    border-radius: 25px;
    margin-left: 15px;
    
}

    

.k_tbdr {

    height: 85px;
    font-family: sans-serif;
    color: #414e5a;
    font-size: small;
    text-align: center;
    font-weight: 600;
    font-style: normal;
}



.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-align: start;
    color: white;
    padding: 11px;
    padding-bottom: 0px;
    padding-left: 7px;
    font-weight: bold;


}



.kk2 {
    border: 1px dashed red;
    height: 236px;
    width: 1270px;
    
}


.kk {
    border: 2px dashed black;
    width: 390px;
    margin-left: 12px;


}

.kk1 {
    box-shadow: none !important;
}


.k_menu>li>a:hover {

    background-color: #ededed;
    cursor: pointer;
    border-radius: 10px;
}

.k_submenu>li:hover {

    background-color: #ededed;
    cursor: pointer;

}

.k_menu>li:hover ul {
    display: block;
}

.k_submenu {

    background-color: white;
    display: none;
    padding-right: 30px;
    padding-left: 10px;

}

.k_submenu>li {

    margin-top: 8px;

}


header {
    height: 90px;
    position: fixed;

    margin: auto;
    width: 1324px;



}

main {
    height: 3470px;
    background-color: white;
    position: relative;
    margin-top: 83px;



}

.footer {

    background-color: brown;

}
.f01{
    height: 300px;
    border: 1px dashed red;
    
}
.f1 {
    height: 112px;
}

.f2 {
    height: 250px;
}

.f3 {
    height: 1170px;
}


.f4 {
    height: 300px;
}

.f5 {
    height: 121px;
}

.k_animation{
    animation-name: myanimation;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-duration: 2s;
    animation-direction:alternate;
}



@keyframes myanimation {

    0%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(-50px);
    }

    100%{
        transform: translateY(-50px);
    }

}

k_slide{
    animation-name: myanimation;
    animation-iteration-count:inherit;
    animation-timing-function:linear;
    animation-duration: 70s;
    animation-direction:alternate;
}


keyframes myanimation {

    0%{
        transform: translateX(0px)
    }
    3%{
        transform: translateX(0px );
    }
   7%{ 
    transform: translateX(-435px);
   }
    
    8% {
        transform: translateX(-435px) ;
    }
    
    14%{
        transform: translateX(-870px) ;
    }
    15%{
        transform: translateX(-870px) ;
    }
    21%{
        transform: translateX(-1305px) ;
    }
    22%{
        transform: translateX(-1305px) ;
    }
    28%{
        transform: translateX(-1740px) ;
    }
    29%{
        transform: translateX(-1740px) ;
    }
    35%{
        transform: translateX(-2175px) ;
    }
    36%{
        transform: translateX(-2175px) ;
    }
    42%{
        transform: translateX(-2610px) ;
    }
    43%{
        transform: translateX(-2610px) ;
    }
    49%{
        transform: translateX(-3045px) ;
    }
    50%{
        transform: translateX(-3045px) ;
    }
    56%{
        transform: translateX(-3480px) ;
    }
    57%{
        transform: translateX(-3480px) ;
    }
    63%{
        transform: translateX(-3915px) ;
    }
    64%{
        transform: translateX(-4350px) ;
    }
    70%{
        transform: translateX(-4350px) ;
    }
    71%{
        transform: translateX(-4785px) ;
    }
    77%{
        transform: translateX(-4785px) ;
    }
    78%{
        transform: translateX(-5220px) ;
    }
    84%{
        transform: translateX(-) ;
    }
    85%{
        transform: translateX(-) ;
    }
    91%{
        transform: translateX(-) ;
    }
 
    100%{
        transform: translatex(-);
    }

}



@media(min-width:100px) {
    .container.container-sm .container-md .container-lg .container-xl .container-xxl .container-fluid {
        max-width: 1440px;
    }
}